<p style="color: green"><%= notice %></p>

<%= render @railway_station %>

<div>
  <%= link_to "Edit this railway station", edit_railway_station_path(@railway_station) %> |
  <%= link_to "Back to railway stations", railway_stations_path %>

  <%= button_to "Destroy this railway station", @railway_station, method: :delete %>
</div>
